<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>Exmaple HBS home.hbs</h1>
        {{{body}}}
    </header>
    <main>
        <h1>main</h1>
        {{{body}}}
    </main>
     {{> footer}}
</body>
</html>